@tailwind base;
@tailwind components;
@tailwind utilities;

tr th {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 500px !important;
}

tr td {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 500px !important;
}
